################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SDL-Game-Fundamentals-Chapter-2/v16/Browse.VC.opendb
